
@{
    ViewBag.Title = "Debtors";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="head">
    <h4>Реализация подробно</h4>
</div>
<table class="table table-bordered table-condensed">
    <thead style="background-color: white; opacity: 1;">
        <tr>
            <th>Дата</th>
            <th>№ продажи</th>
            <th>Описание продажи</th>
            <th>Сумма продажи без скидки</th>
            <th>Скидка</th>
            <th>Внесли денег</th>
            <th>Остаток</th>
            <th>Расход по продаже</th>
            <th>Описание расхода</th>
            <th>Была ли отгрузка</th>
            <th>Покупатель</th>
            <th>Комментарий</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody id="results">
        @foreach (var s in Model)
        {
            if (s.Number != null && s.Description == null && s.Outgo == 0)
            {
                if (s.PayForTerminal == true)
                {
                    <tr style="background-color: #49bcff">
                        <td>@s.Date</td>
                        <td>@s.Number</td>
                        <td>@s.Description</td>
                        <td>@s.SumWithoutD</td>
                        <td>@s.Discount</td>
                        <td>@s.AddMoney</td>
                        <td>@s.Remain</td>
                        <td>@s.Outgo</td>
                        <td>@s.OutgoDescription</td>
                        <td>
                            @if (s.Shipment == true)
                            {
                                <span>Была</span>
                            }
                            else if (s.Shipment == false)
                            {
                                <span>Не была</span>
                            }
                        </td>
                        <td>
                            @if (s.Dealer != null)
                            {
                                <span>@s.Dealer.Name</span>
                            }
                            else
                            {
                                <span>@s.Number</span>
                            }
                        </td>
                        <td>@s.Comment</td>
                        <td><a href="/Manager/Delivery?sellNumb=@s.Number">Доставка</a> / <a href="/Manager/Ticket/@s.Id">Распечатать</a></td>
                    </tr>
                }
                else
                {
                    <tr style="background-color: #ff9749">
                        <td>@s.Date</td>
                        <td>@s.Number</td>
                        <td>@s.Description</td>
                        <td>@s.SumWithoutD</td>
                        <td>@s.Discount</td>
                        <td>@s.AddMoney</td>
                        <td>@s.Remain</td>
                        <td>@s.Outgo</td>
                        <td>@s.OutgoDescription</td>
                        <td>
                            @if (s.Shipment == true)
                            {
                                <span>Была</span>
                            }
                            else if (s.Shipment == false)
                            {
                                <span>Не была</span>
                            }
                        </td>
                        <td>
                            @if (s.Dealer != null)
                            {
                                <span>@s.Dealer.Name</span>
                            }
                            else
                            {
                                <span>@s.Number</span>
                            }
                        </td>
                        <td>@s.Comment</td>
                        <td><a href="/Manager/Delivery?sellNumb=@s.Number">Доставка</a> / <a href="/Manager/Ticket/@s.Id">Распечатать</a></td>
                    </tr>
                }
            }
            else if (s.PayForTerminal == true)
            {
                <tr style="background-color: #5cb85c">
                    <td>@s.Date</td>
                    <td>@s.Number</td>
                    <td>@s.Description</td>
                    <td>@s.SumWithoutD</td>
                    <td>@s.Discount</td>
                    <td>@s.AddMoney</td>
                    <td>@s.Remain</td>
                    <td>@s.Outgo</td>
                    <td>@s.OutgoDescription</td>
                    <td>
                        @if (s.Shipment == true)
                    {
                            <span>Была</span>
                        }
                        else if (s.Shipment == false)
                        {
                            <span>Не была</span>
                        }
                    </td>
                    <td>
                        @if (s.Dealer != null)
                    {
                            <span>@s.Dealer.Name</span>
                        }
                        else
                        {
                            <span>@s.Number</span>
                        }
                    </td>

                    <td>@s.Comment</td>
                    <td><a href="/Manager/Delivery?sellNumb=@s.Number">Доставка</a> / <a href="/Manager/Ticket/@s.Id">Распечатать</a></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@s.Date</td>
                    <td>@s.Number</td>
                    <td>@s.Description</td>
                    <td>@s.SumWithoutD</td>
                    <td>@s.Discount</td>
                    <td>@s.AddMoney</td>
                    <td>@s.Remain</td>
                    <td>@s.Outgo</td>
                    <td>@s.OutgoDescription</td>
                    <td>
                        @if (s.Shipment == true)
                    {
                            <span>Была</span>
                        }
                        else if (s.Shipment == false)
                        {
                            <span>Не была</span>
                        }
                    </td>
                    <td>
                        @if (s.Dealer != null)
                    {
                            <span>@s.Dealer.Name</span>
                        }
                        else
                        {
                            <span>@s.Number</span>
                        }
                    </td>
                    <td>@s.Comment</td>
                    <td><a href="/Manager/Delivery?sellNumb=@s.Number">Доставка</a> / <a href="/Manager/Ticket/@s.Id">Распечатать</a></td>
                </tr>
            }
        }
    </tbody>
</table>

