@{
    Layout = null;
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <STYLE TYPE="text/css">
        <!--
        page {
            margin-left: 1.18in;
            margin-right: 0.59in;
            margin-top: 0.79in;
            margin-bottom: 0.79in;
        }

        P {
            margin-bottom: 0.08in;
            direction: ltr;
            widows: 2;
            orphans: 2;
        }

        A:link {
            so-language: zxx;
        }
        -->
    </STYLE>
</HEAD>
<BODY LANG="ru-RU" DIR="LTR">
    <TABLE WIDTH=684 CELLPADDING=7 CELLSPACING=0 STYLE="page-break-before: always">
        <COL WIDTH=18>
        <COL WIDTH=126>
        <COL WIDTH=126>
        <COL WIDTH=160>
        <COL WIDTH=183>
        <TBODY>
            <TR>
                <TD COLSPAN=5 WIDTH=670 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER STYLE="margin-bottom: 0in">
                        <A NAME="_GoBack"></A><FONT FACE="Verdana, serif">
                            <B>
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        ДОГОВОР
                                        СУБПОДРЯДА №
                                    </FONT>
                                </FONT><FONT COLOR="#ff0000">
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            @Model.Number
                                        </FONT>
                                    </FONT>
                                </FONT><FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                    </FONT>
                                </FONT>
                            </B>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT FACE="Times New Roman, serif">
                                <FONT SIZE=3>
                                    <SPAN STYLE="font-weight: normal">
                                        г.Новоалтайск

                                    </SPAN>
                                </FONT>
                            </FONT><FONT COLOR="#ff0000">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-weight: normal">
                                            &#171; <u> @Model.Date.ToString("dd.MM.yyyy") </u> &#187;
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR>
                <TD COLSPAN=5 WIDTH=670 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P>
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                ИП Дорогин
                                Никита Васильевич, ОГРНИП  314220822500022
                            </FONT>
                        </FONT>
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                именуемый
                                в дальнейшем &quot;Подрядчик&quot;, и
                            </FONT>
                        </FONT><FONT COLOR="#ff0000">
                            <FONT FACE="Times New Roman, serif">
                                <FONT SIZE=3>
                                    @Model.Montaznik.FIO
                                </FONT>
                            </FONT>
                        </FONT><FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                именуемый в дальнейшем Субподрядчик,
                                заключили настоящий договор о
                                нижеследующем.
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR>
                <TD COLSPAN=5 WIDTH=670 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <B>
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            1.
                                            Предмет договора
                                        </FONT>
                                    </FONT>
                                </B>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT COLOR="#000000">
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            <SPAN STYLE="background: #ffffff">
                                                1.1.
                                                По настоящему договору Субподрядчик
                                                обязуется выполнить по заданию
                                                Подрядчика следующую работу передать
                                                (
                                            </SPAN>
                                        </FONT>
                                    </FONT>
                                </FONT><FONT COLOR="#ff0000">
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            <SPAN STYLE="background: #ffffff">
                                                @{ int allsum = 0;}
                                                @foreach (var s in ViewBag.Ghfs)
                                                {
                                                    if (s.Amount > 0)
                                                    {
                                                        int sum = 0;
                                                        foreach (var p in s.PacksForGH)
                                                        {
                                                            sum += p.Amount * p.Cost * s.Amount;
                                                        }

                                                        <span>@s.Name @s.Amount шт. @sum руб. @Sklad.Models.Число.Пропись(Convert.ToDecimal(sum), Sklad.Models.РодЧисло.Мужской) рублей &nbsp; </span>
                                                        allsum += sum;
                                                    }
                                                } )
                                                <span>Всего: @allsum руб. @Sklad.Models.Число.Пропись(Convert.ToDecimal(allsum), Sklad.Models.РодЧисло.Мужской) рублей.</span>
                                            </SPAN>
                                        </FONT>
                                    </FONT>
                                </FONT>
                                <FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="background: #ffffff">Заказчику</SPAN></FONT></FONT>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            <SPAN STYLE="background: #ffffff">
                                                и сдать ее результат Подрядчику, а
                                                Подрядчик обязуется принять результат
                                                работы и оплатить его.
                                            </SPAN>
                                        </FONT>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        1.2.
                                    </FONT>
                                </FONT><FONT COLOR="#000000">
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            <SPAN STYLE="background: #ffffff">
                                                В
                                                рамках настоящего договора выполняемая
                                                работа включает в себя следующее:

                                            </SPAN>
                                        </FONT>
                                    </FONT>
                                </FONT><FONT COLOR="#ff0000">
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            <B>
                                                <SPAN STYLE="background: #ffffff">
                                                    @Model.ContractType
                                                </SPAN>
                                            </B>
                                        </FONT>
                                    </FONT>
                                </FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="background: #ffffff">.</SPAN></FONT></FONT></FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        1.3.
                                        Работа считается выполненной после
                                        подписания акта приемки-сдачи
                                        Подрядчиком или уполномоченным им
                                        представителем.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        1.4.
                                        Субподрядчик несет ответственность
                                        за вверенное ему имущество и за любое
                                        действие, повлекшее за собой утрату
                                        или порчу имущества.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        1.5.
                                    </FONT>
                                </FONT><FONT COLOR="#0a0a0a">
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            <SPAN STYLE="background: #f5f9fc">
                                                При
                                                выполнении работ Субподрядчик
                                                использует автомобиль
                                            </SPAN>
                                        </FONT>
                                    </FONT>
                                </FONT><FONT COLOR="#ff0000">
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            <SPAN STYLE="background: #f5f9fc">
                                                @Model.Montaznik.MarkAuto @Model.Montaznik.NumberAuto
                                            </SPAN>
                                        </FONT>
                                    </FONT>
                                </FONT><FONT COLOR="#0a0a0a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="background: #f5f9fc">.</SPAN></FONT></FONT></FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        1.6.
                                        Риск случайной гибели или случайной
                                        порчи Товара несет Субподрядчик.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR>
                <TD COLSPAN=5 WIDTH=670 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <B>
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            2.
                                            Условия выполнения работы
                                        </FONT>
                                    </FONT>
                                </B>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        2.1.
                                        Если в процессе выполнения работы
                                        Субподрядчик допустил отступления
                                        от условий договора, ухудшившие
                                        качество работы, то по требованию
                                        Заказчика он обязан безвозмездно
                                        исправить все выявленные недостатки
                                        в установленный по согласованию
                                        сторон срок. Отказ от исправления
                                        выявленных недостатков влечет для
                                        Субподрядчика штрафные санкции.
                                        Подрядчику предоставляется в этом
                                        случае право поручить исправление
                                        недостатков третьим лицам (организациям)
                                        за счет Субподрядчика.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        2.2.
                                        При наличии существенных недостатков
                                        на одном из этапов работы, приводящих
                                        к невозможности выполнения всей
                                        работы в соответствии с требованиями
                                        технической или иной документации,
                                        представленной Подрядчиком, Подрядчик
                                        расторгает договор без оплаты,
                                        выполненной Субподрядчиком работ.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        2.3.
                                        Субподрядчик самостоятельно организует
                                        всю работу по исполнению настоящего
                                        договора.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        2.4.
                                        Ответственность за технику безопасности
                                        и охрану труда возлагается на
                                        &quot;Субподрядчика&quot;.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        2.5.
                                        По данному договору не предусматривается
                                        уплата страховых взносов на обязательное
                                        социальное страхование от несчастных
                                        случаев на производстве и профессиональных
                                        заболеваний.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        2.6.
                                        Субподрядчик обязан передать ввереное ему имущество подрядчику, срок 2 дня с момента подписания договора.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR>
                <TD COLSPAN=5 WIDTH=670 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <B>
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            3.
                                            Сумма вознаграждения, порядок расчетов,
                                            штрафные санкции
                                        </FONT>
                                    </FONT>
                                </B>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD COLSPAN=4 WIDTH=637 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>
                                3.1. Стоимость
                                работ по настоящему договору
                                определяется &quot;Актом выполненных
                                работ&quot;.
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>
                                3.2. Подрядчик
                                обязуется оплатить выполненные работы
                                (оказанные услуги) в течение двух
                                банковских дней с момента окончания
                                работ и подписания сторонами акта
                                выполненных работ.
                            </FONT>
                        </FONT>
                    </P>
                    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
                        <A NAME="sub_8"></A>
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        <B>
                                            4.
                                            Ответственность Сторон
                                        </B>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        4.1.
                                        В случае неисполнения или ненадлежащего
                                        исполнения своих обязательств по
                                        настоящему договору Стороны несут
                                        ответственность в соответствии с
                                        действующим
                                    </FONT>
                                </FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif">&nbsp;</FONT></FONT><A HREF="https://clck.yandex.ru/redir/dv/*data=url%3DgarantF1%253A%252F%252F10064072.1025%26ts%3D1484285032%26uid%3D9184882521478747234&amp;sign=64822baf5c72736096d0a28244752f02&amp;keyno=1"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><U>законодательством</U></FONT></FONT></A><FONT COLOR="#000000"><FONT FACE="Arial, serif">&nbsp;</FONT></FONT><FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        Российской
                                        Федерации.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
                        <A NAME="sub_9"></A>
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        <B>
                                            5.
                                            Порядок разрешения споров
                                        </B>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        5.1.
                                        Споры и разногласия, которые могут
                                        возникнуть при исполнении настоящего
                                        договора, будут по возможности
                                        разрешаться путем переговоров между
                                        Сторонами.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        5.2.
                                        В случае если Стороны не придут к
                                        соглашению, споры разрешаются в
                                        судебном порядке в соответствии с
                                        действующим
                                    </FONT>
                                </FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif">&nbsp;</FONT></FONT><A HREF="https://clck.yandex.ru/redir/dv/*data=url%3DgarantF1%253A%252F%252F12027526.3%26ts%3D1484285032%26uid%3D9184882521478747234&amp;sign=66fddc1f9747020a82362fdfd4a0992b&amp;keyno=1"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><U>законодательством</U></FONT></FONT></A><FONT COLOR="#000000"><FONT FACE="Arial, serif">&nbsp;</FONT></FONT><FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        Российской
                                        Федерации.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
                        <A NAME="sub_10"></A>
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        <B>
                                            6.
                                            Заключительные положения
                                        </B>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        6.2.
                                        Договор вступает в силу с момента
                                        подписания и действует до полного
                                        выполнения обязательств по настоящему
                                        договору.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=3>
                                <FONT COLOR="#000000">
                                    <FONT FACE="Arial, serif">
                                        6.3.
                                        Во всем остальном, что не предусмотрено
                                        настоящим договором, Стороны
                                        руководствуются законодательством
                                        Российской Федерации.
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=JUSTIFY>
                        <BR>
                    </P>
                </TD>
            </TR>
            <TR>
                <TD COLSPAN=5 WIDTH=670 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <B>
                                    <FONT FACE="Times New Roman, serif">
                                        <FONT SIZE=3>
                                            Адреса
                                            и реквизиты сторон
                                        </FONT>
                                    </FONT>
                                </B>
                            </FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
        </TBODY>
        <TBODY>
            <TR VALIGN=TOP>
                <TD COLSPAN=3 WIDTH=299 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.08in">
                    <P ALIGN=CENTER><FONT FACE="Verdana, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B><FONT FACE="Times New Roman, serif"><FONT SIZE=3>ПОДРЯДЧИК</FONT></FONT></B></FONT></FONT></P>
                </TD>
                <TD COLSPAN=2 WIDTH=357 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
                    <P ALIGN=CENTER><FONT FACE="Verdana, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B><FONT FACE="Times New Roman, serif"><FONT SIZE=3>СУБПОДРЯДЧИК</FONT></FONT></B></FONT></FONT></P>
                </TD>
            </TR>
        </TBODY>
        <TBODY>
            <TR VALIGN=TOP>
                <TD COLSPAN=3 WIDTH=299 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.08in">
                    <P STYLE="margin-bottom: 0in">
                        ИП Дорогин Никита
                        Васильевич
                    </P>
                    <P STYLE="margin-bottom: 0in">
                        658081, г.Новоалтайск,
                        ул.Локомотивная 7
                    </P>
                    <P STYLE="margin-bottom: 0in">ИНН 220807080002</P>
                    <P STYLE="margin-bottom: 0in">ОГРНИП  314220822500022</P>
                    <P STYLE="margin-bottom: 0in">Р\с 40802810720310000008</P>
                    <P STYLE="margin-bottom: 0in">
                        Банк ФИЛИАЛ ПАО
                        «БИНБАНК» г.Новосибирск
                    </P>
                    <P STYLE="margin-bottom: 0in">К.с 30101810550040000842</P>
                    <P STYLE="margin-bottom: 0in">Бик 045004842</P>
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in">
                        <BR>
                    </P>
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in">
                        <BR>
                    </P>
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                    <P STYLE="margin-bottom: 0in">_________ (Дорогин Н.В.)</P>
                </TD>
                <TD COLSPAN=2 WIDTH=357 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>@Model.Montaznik.FIO</FONT></FONT></FONT></FONT></P>
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in">
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        Документ:
                                        паспорт гражданина РФ <BR>
                                    </FONT>
                                </FONT><FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="background: #ffff00">
                                            Серия номер: @Model.Montaznik.PasportNum
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in">
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="background: #ffff00">
                                            <BR>Выдан:
                                            @Model.Montaznik.WhoIssued
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in">
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="background: #ffff00">
                                            Зарегистрирован
                                            по адресу: @Model.Montaznik.Address
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in">
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="background: #ffff00">
                                            Телефон: @Model.Montaznik.Phone
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in">
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="background: #ffff00">
                                            ИНН: @Model.Montaznik.INN
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=LEFT STYLE="margin-bottom: 0in">
                        <FONT FACE="Verdana, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <FONT FACE="Times New Roman, serif">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="background: #ffff00">
                                            СНИЛС: @Model.Montaznik.Snils
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                    <P STYLE="margin-bottom: 0in">_________ (@Model.Montaznik.FIO)</P>
                </TD>
            </TR>
        </TBODY>
        <TBODY>
            <TR VALIGN=TOP>
                <TD WIDTH=18 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=126 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=160 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=183 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
            </TR>
        </TBODY>
    </TABLE>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>

    <a href="/Manager/Act1?sellNumb=@Model.Number" style="font-size: 18px">Акты</a><br />

    <a href="/Home/Index" style="font-size: 18px">Главная страница</a><br />

</BODY>
</HTML>
