<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE>Договор поставки&nbsp;(с выполнением работ)&nbsp;&nbsp;№</TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="Евгения">
    <META NAME="CREATED" CONTENT="20170310;34100000000000">
    <META NAME="CHANGEDBY" CONTENT="User">
    <META NAME="CHANGED" CONTENT="20170310;43900000000000">
    <META NAME="DESCRIPTION" CONTENT="Консультант Плюс - Конструктор Договоров">
    <STYLE TYPE="text/css">
	<!--
		page { margin: 0.5in }
		P { text-indent: 0.49in; margin-bottom: 0.08in; direction: ltr; color: #000000; line-height: 115%; text-align: justify; widows: 2; orphans: 2 }
		P.western { font-family: "Times New Roman", serif; font-size: 11pt; so-language: ru-RU }
		P.cjk { font-family: "Times New Roman", serif; font-size: 11pt }
		P.ctl { font-family: "Times New Roman", serif; font-size: 11pt; so-language: ar-SA }
		H1 { margin-bottom: 0.08in; direction: ltr; color: #000000; line-height: 115%; text-align: center; page-break-inside: avoid; widows: 2; orphans: 2 }
		H1.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ru-RU }
		H1.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
		H1.ctl { font-family: "Times New Roman", serif; font-size: 14pt; so-language: ar-SA }
		H2 { margin-top: 0.08in; margin-bottom: 0.08in; direction: ltr; color: #000000; line-height: 115%; text-align: justify; widows: 2; orphans: 2; page-break-after: auto }
		H2.western { font-size: 10pt; so-language: ru-RU; font-weight: normal }
		H2.cjk { font-family: "Times New Roman", serif; font-size: 10pt; font-weight: normal }
		H2.ctl { font-family: "Times New Roman", serif; font-size: 13pt; so-language: ar-SA }
		H3 { margin-top: 0.08in; margin-bottom: 0.08in; direction: ltr; color: #000000; line-height: 115%; text-align: justify; widows: 2; orphans: 2; page-break-after: auto }
		H3.western { font-size: 10pt; so-language: ru-RU; font-weight: normal }
		H3.cjk { font-family: "Times New Roman", serif; font-size: 10pt; font-weight: normal }
		H3.ctl { font-family: "Times New Roman", serif; font-size: 10pt; so-language: ar-SA }
		A:link { color: #0000ff }
	-->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" DIR="LTR">
    <DIV TYPE=HEADER>
        <P LANG="ru-RU" ALIGN=JUSTIFY STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">
            <BR>
        </P>
    </DIV>
    <P LANG="en-US" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168201"></A><A NAME="_title_1"></A>
        <FONT SIZE=4>
            <B>
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    Договор
                </FONT><FONT SIZE=2 STYLE="font-size: 11pt">
                    <SPAN LANG="ru-RU">
                        купли-продажи
                        с хранением
                    </SPAN>
                </FONT><FONT SIZE=2 STYLE="font-size: 11pt">&nbsp;&nbsp;№</FONT><FONT SIZE=2 STYLE="font-size: 11pt">
                    <SPAN LANG="ru-RU">
                        <U>
                        </U>
                    </SPAN>
                </FONT><FONT COLOR="#ff0000">
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <SPAN LANG="ru-RU">
                            <U>
                                @ViewBag.SellNumb
                            </U>
                        </SPAN>
                    </FONT>
                </FONT>
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>г. Барнаул										</FONT><FONT COLOR="#ff0000">
            <FONT SIZE=2>
                @DateTime.Now.ToString("dd.MM.yyyy") г.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#ff0000"><FONT SIZE=2>@ViewBag.FIO</FONT></FONT><FONT SIZE=2>
            ,
            далее именуемый &nbsp;&quot;Покупатель&quot;,
            с одной стороны и Дорогин Никита
            Васильевич, зарегистрированный в
            качестве индивидуального предпринимателя,
            ОГРНИП 314220822500022 ИНН 220807080002,  далее
            именуемый &quot;Поставщик&quot;, с другой
            стороны, заключили настоящий договор
            (далее -&nbsp;Договор), о нижеследующем:
        </FONT>
    </P>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168239"></A>
        <FONT SIZE=2>Предмет договора</FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168252"></A>
        1.1.Поставщик обязуется передать в
        собственность Покупателя товара,
        Покупатель обязуется принять и оплатить
        поставленный товар. Товар, поставляемый
        по Договору (далее - товар):
    </H2>
    @{ int allsum = 0;}
    @foreach (var s in ViewBag.Ghfs)
    {
        if (s.Amount > 0)
        {
            int sum = 0;
            foreach (var p in s.PacksForGH)
            {
                sum += p.Amount * p.Cost * s.Amount;
            }
            <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT COLOR="#ff0000"><FONT SIZE=2>@s.Name @s.Amount шт. @sum руб. @Sklad.Models.Число.Пропись(Convert.ToDecimal(sum), Sklad.Models.РодЧисло.Мужской) рублей</FONT></FONT>
            </P>
            allsum += sum;
        }
    }
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#ff0000"><FONT SIZE=2>Всего: @Model.SumWithD руб. @Sklad.Models.Число.Пропись(Convert.ToDecimal(Convert.ToInt32(Model.SumWithD)), Sklad.Models.РодЧисло.Мужской) рублей</FONT></FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            1.2. 	Поставщик предоставляет
            бесплатное хранение Товара на своем
            складе на  срок с
        </FONT><FONT COLOR="#ff0000">
            <FONT SIZE=2>
                @DateTime.Now.ToString("dd.MM.yyyy")
            </FONT>
        </FONT><FONT SIZE=2>
            г. до момента
            передачи товара Заказчику.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            Ответственность за риск случайной
            гибели во время хранения несет Поставщик.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">

    </P>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168459"></A>
        <FONT SIZE=2>
            Комплект, комплектность и
            документы на товар
        </FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168472"></A>
        2.1.Все товары, подлежащие поставке по
        Договору, входят в комплект (ст. 479 ГК
        РФ).
    </H2>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            Обязательство по передаче товаров
            в комплекте считается исполненным с
            момента передачи всех товаров, включенных
            в этот комплект.
        </FONT>
    </P>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168498"></A>
        2.2.Передача некомплектного товара
    </H2>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168511"></A>
        2.2.1.Покупатель, которому поставлены
        товары с нарушением условий Договора
        поставки, требований закона, иных
        правовых актов либо обычно предъявляемых
        требований к комплектности, вправе
        предъявить Поставщику требования,
        предусмотренные ст. 480 ГК РФ, за исключением
        случая, когда Поставщик, получивший
        уведомление покупателя о некомплектности
        поставленных товаров, без промедления
        доукомплектует товары либо заменит их
        комплектными.
    </H3>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168524"></A>
        2.2.2.В случае передачи некомплектного
        товара (ст. 478 ГК РФ) Покупатель вправе
        по своему выбору потребовать от
        Поставщика:
    </H3>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - соразмерного уменьшения покупной
            цены;
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - доукомплектования товара в
            разумный срок.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            Если Поставщик в разумный срок
            не выполнил требования Покупателя о
            доукомплектовании товара, Покупатель
            вправе по своему выбору:
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - потребовать замены некомплектного
            товара на комплектный;
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - отказаться от исполнения
            Договора и потребовать возврата
            уплаченной денежной суммы.
        </FONT>
    </P>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168614"></A>
        <FONT SIZE=2>Качество и гарантийный срок</FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168641"></A>
        3.1.Передаваемый по Договору товар в
        употреблении не был.
    </H2>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168654"></A>
        3.2.Качество&nbsp;товара  должно соответствовать:
    </H2>
    <UL>
        <LI VALUE=1>
            <P LANG="ru-RU" ALIGN=LEFT STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">
                <FONT SIZE=2>
                    обязательным требованиям,
                    установленным действующим законодательством
                    РФ;
                </FONT>
            </P>
        <LI>
            <P LANG="ru-RU" ALIGN=LEFT STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">
                <FONT SIZE=2>
                    требованиям, определяемым целью
                    его использования.
                </FONT>
            </P>
    </UL>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168735"></A>
        3.3.&nbsp;Передача товара надлежащего
        качества
    </H2>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168761"></A>
        3.3.1.Поставщик отвечает за недостатки
        товара, на который предоставил гарантию
        качества, если не докажет, что они
        возникли после передачи товара Покупателю
        вследствие нарушения правил пользования
        товаром или его хранения, либо действий
        третьих лиц, либо непреодолимой силы.
    </H3>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168774"></A>
        3.3.2.Если недостатки товара не были
        оговорены Поставщиком, Покупатель,
        которому передан товар ненадлежащего
        качества, вправе по своему выбору
        потребовать от Поставщика:
    </H3>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - соразмерного уменьшения покупной
            цены;
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - безвозмездного устранения
            недостатков товара в разумный срок;
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - возмещения расходов на устранение
            недостатков товара.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            В случае существенного нарушения
            требований к качеству товара (обнаружения
            неустранимых недостатков, недостатков,
            которые не могут быть устранены без
            несоразмерных расходов или затрат
            времени или выявляются неоднократно,
            либо проявляются вновь после их
            устранения, и других подобных недостатков)
            Покупатель вправе по своему выбору:
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - отказаться от исполнения
            Договора и потребовать возврата
            уплаченной за товар денежной суммы;
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            - потребовать замены товара
            ненадлежащего качества товаром,
            соответствующим Договору.
        </FONT>
    </P>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168787"></A>
        3.3.3.Если Покупатель предъявил требование
        о безвозмездном устранении недостатков
        товара согласно п. 1 ст. 518, п. 1 ст. 475 ГК
        РФ, Поставщик должен исполнить его не
        позднее <U>&nbsp; &nbsp; &nbsp;10 дней&nbsp; &nbsp;</U> с
        момента его получения.
    </H3>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168800"></A>
        3.4.&nbsp;&nbsp;Требования к качеству
        работ&nbsp;&nbsp;указаны в Приложении №&nbsp;1&nbsp;к
        Договору (&quot;Задание Покупателя&quot;).
    </H2>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45168953"></A>
        <FONT SIZE=2>Условия поставки товара</FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169018"></A>
        4.1.Поставка осуществляется путем передачи
        товара заказчику со склада
    </H2>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169044"></A>
        4.1.1.Доставка товара осуществляется
        транспортом и силами Поставщика с
        отдельной оплатой доставки Заказчиком
        по факту доставки.
    </H3>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169137"></A>
        4.2.Тара (упаковка)
    </H2>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169163"></A>
        4.2.1.Поставляемый товар должен быть
        затарен (упакован) в обычно применяемую
        для него тару (упаковку).
    </H3>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169176"></A>
        4.2.2.Тара (упаковка) должна соответствовать
        обычным требованиям: обеспечивать
        сохранность товара и предотвращать его
        повреждение при транспортировке и
        хранении.
    </H3>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169189"></A>
        4.2.3.Тара (упаковка) является одноразовой,
        возврату Поставщику не подлежит.
    </H3>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            Стоимость тары (упаковки) товара
            входит в цену товара и отдельно не
            оплачивается.
        </FONT>
    </P>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169241"></A>
        4.3.Маркировка товара должна соответствовать
        обычно предъявляемым требованиям.
    </H2>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169320"></A>
        4.4.Право собственности на товар переходит
        к Покупателю в момент передачи товара.
        Момент передачи товара с монтажом
        происходит по факту монтажа.
    </H2>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169333"></A>
        4.5.Риски случайной гибели и случайного
        повреждения товара переходят к Покупателю
        с момента передачи ему товара.
    </H2>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169669"></A>
        <FONT SIZE=2>
            Цена, условия оплаты, срок и
            порядок передачи товара.
        </FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169683"></A>
        5.1.Поставщик обязуется:
    </H2>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            Осуществить передачу товара
            заказчику в течение _5_  дней, после
            обращения заказчика.
        </FONT>
    </P>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169723"></A>
        5.2.Поставщик определяет технологию
        выполнения работ&nbsp;самостоятельно с
        учетом обязательных требований
        нормативных документов.
    </H2>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45169828"></A>
        5.3.Поставщик обязуется предоставить
        все материалы и оборудование, необходимые
        для выполнения работ.
    </H2>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170024"></A>
        5.4.Риск случайной гибели и случайного
        повреждения имущества
    </H2>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170037"></A>
        5.4.1.Риск случайной гибели или случайного
        повреждения&nbsp;иного предоставленного
        Покупателем имущества в процессе&nbsp;выполнения
        работ&nbsp;несет Покупатель.
    </H3>
    <H3 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170050"></A>
        5.4.2.Риск случайной гибели или случайного
        повреждения&nbsp;материалов, &nbsp;оборудования,&nbsp;и
        иного предоставленного Поставщиком
        имущества в процессе&nbsp;выполнения
        работ&nbsp;несет Поставщик.
    </H3>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170077"></A>
        5.5.Поставщик вправе привлекать&nbsp;к
        выполнению работ&nbsp;третьих лиц.
    </H2>
    <P LANG="ru-RU" CLASS="western" STYLE="text-indent: 0in; margin-top: 0.08in; line-height: 100%">
        <FONT SIZE=2>5.6 	Цена товара составляет </FONT><FONT COLOR="#ff0000">
            <FONT SIZE=2>
                @Model.SumWithoutD
            </FONT>
        </FONT><FONT SIZE=2>
            руб.
        </FONT><FONT COLOR="#ff0000"><FONT SIZE=2>@Sklad.Models.Converter.IntToText(Convert.ToInt32(Model.SumWithoutD))</FONT></FONT><FONT SIZE=2>
            (НДС не предусмотрен). Расчет осуществляется
            в следующем порядке –
        </FONT><FONT COLOR="#ff0000">
            <FONT SIZE=2>
                @Model.AddMoney
            </FONT>
        </FONT><FONT SIZE=2>
            руб в
            момент подписания настоящего договора,
            оставшаяся сумма в размере
        </FONT><FONT COLOR="#ff0000">
            <FONT SIZE=2>
                @Model.Remain
            </FONT>
        </FONT><FONT SIZE=2>
            руб в
            момент передачи товара.
        </FONT>
    </P>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170365"></A>
        <FONT SIZE=2>Ответственность сторон</FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170509"></A>
        6.1.Сторона, не исполнившая или ненадлежащим
        образом исполнившая свои обязательства
        по договору, несет ответственность,
        если не докажет, что надлежащее исполнение
        оказалось невозможным вследствие
        непреодолимой силы, то есть чрезвычайных
        и непредотвратимых при данных условиях
        обстоятельств. К таким обстоятельствам
        не относятся, в частности, нарушение
        обязанностей со стороны контрагентов
        стороны-должника, отсутствие у
        стороны-должника необходимых денежных
        средств.
    </H2>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170535"></A>
        <FONT SIZE=2>Изменение и расторжение договора</FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170548"></A>
        7.1.Договор может быть изменен&nbsp; и
        расторгнут по соглашению сторон.
    </H2>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170561"></A>
        7.2.По требованию одной из сторон Договор
        может быть изменен или расторгнут по
        решению суда только в следующих случаях:
    </H2>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            1) при существенном нарушении
            Договора другой стороной;
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            2) в иных случаях, предусмотренных
            Гражданским кодексом РФ или другими
            законами.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2>
            Существенным признается нарушение
            Договора одной из сторон, которое влечет
            для другой стороны такой ущерб, что она
            в значительной степени лишается того,
            на что была вправе рассчитывать при
            заключении Договора.
        </FONT>
    </P>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170744"></A>
        <FONT SIZE=2>Разрешение споров</FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170836"></A>
        8.1.Споры, возникшие из Договора,
        разрешаются в соответствии с арбитражным
        процессуальным законодательством РФ.
    </H2>
    <H1 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170861"></A>
        <FONT SIZE=2>Заключительные положения</FONT>
    </H1>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170900"></A>
        9.1.Договор действует до момента выполнения
        сторонами своих обязательств по договору.
    </H2>
    <H2 LANG="ru-RU" CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; line-height: 100%">
        <A NAME="_ref_45170926"></A>
        9.2.Уведомления, требования иные документы,
        связанные с Договором, должны направляться
        сторонами любым из следующих способов:
    </H2>
    <UL>
        <LI VALUE=1>
            <P LANG="ru-RU" ALIGN=LEFT STYLE="text-indent: 0in; margin-bottom: 0in; line-height: 100%">
                <A NAME="_ref_45170978"></A>
                <FONT SIZE=2>
                    с нарочным (курьерской доставкой).
                    Факт получения документа должен
                    подтверждаться&nbsp; распиской.
                </FONT>
            </P>
    </UL>
    <P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.98in; text-indent: 0in; margin-bottom: 0in; line-height: 100%">
        <FONT SIZE=2><B>Адреса и реквизиты сторон:</B></FONT>
    </P>
    <TABLE WIDTH=712 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=338>
        <COL WIDTH=345>
        <TR VALIGN=TOP>
            <TD WIDTH=338 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                <P LANG="ru-RU" ALIGN=CENTER STYLE="text-indent: 0in; margin-top: 0.08in; page-break-after: avoid">
                    <FONT SIZE=2><B>Покупатель</B></FONT>
                </P>
            </TD>
            <TD WIDTH=345 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
                <P LANG="ru-RU" ALIGN=CENTER STYLE="text-indent: 0in; margin-top: 0.08in; page-break-after: avoid">
                    <FONT SIZE=2><B>Поставщик</B></FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=338 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                <P LANG="ru-RU" ALIGN=LEFT STYLE="text-indent: 0in; margin-top: 0.08in; page-break-after: avoid">
                    <FONT SIZE=2></FONT><FONT COLOR="#ff0000"><FONT SIZE=2>@ViewBag.FIO</FONT></FONT><FONT SIZE=2>
                        <BR>Место
                        жительства:
                    </FONT><FONT COLOR="#ff0000"><FONT SIZE=2><B>@ViewBag.Address</B></FONT></FONT><FONT SIZE=2></FONT>
                </P>
                <P LANG="ru-RU" ALIGN=LEFT STYLE="text-indent: 0in; margin-top: 0.08in; page-break-after: avoid">
                    <FONT SIZE=2>Тел: </FONT><FONT COLOR="#ff0000"><FONT SIZE=2></FONT></FONT><FONT COLOR="#ff0000"><FONT SIZE=2><B>@ViewBag.Phone</B></FONT></FONT><FONT COLOR="#ff0000"><FONT SIZE=2></FONT></FONT><FONT SIZE=2>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=345 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
                <P LANG="ru-RU" ALIGN=LEFT STYLE="text-indent: 0in; margin-top: 0.08in; page-break-after: avoid">
                    <FONT SIZE=2>
                        Индивидуальный предприниматель
                    </FONT><FONT SIZE=2><U> Дорогин Никита Васильевич</U></FONT>
                </P>
                <P LANG="ru-RU" ALIGN=LEFT STYLE="text-indent: 0in; margin-top: 0.08in; page-break-after: avoid">
                    <FONT SIZE=2>
                        Место жительства: Алтайский
                        край, г.Новоалтайск ул. Локомотивная
                        7 Почтовый индекс:658084 <BR>ОГРНИП
                        314220822500022<BR>ИНН 220807080002<BR>Тел.: 71-78-74 Склад
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=338 HEIGHT=30 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                <P LANG="ru-RU" STYLE="text-indent: 0in; margin-top: 0.08in">
                    <FONT SIZE=2>__________</FONT><FONT SIZE=2><I><U> &nbsp; &nbsp; &nbsp;</U></I></FONT><FONT SIZE=2>
                    </FONT><FONT COLOR="#ff0000"><FONT SIZE=2></FONT></FONT><FONT COLOR="#ff0000"><FONT SIZE=2><B>@ViewBag.FIO</B></FONT></FONT><FONT COLOR="#ff0000"><FONT SIZE=2></FONT></FONT>
                </P>
                <P LANG="ru-RU" STYLE="text-indent: 0in; margin-top: 0.08in">
                    <BR>
                </P>
            </TD>
            <TD WIDTH=345 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
                <P LANG="ru-RU" STYLE="text-indent: 0in; margin-top: 0.08in">
                    <U>
                        &nbsp;
                        &nbsp; &nbsp; &nbsp;
                    </U><U>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;
                    </U>&nbsp;<FONT SIZE=2>/</FONT><FONT SIZE=2>
                        <U>
                            &nbsp;Дорогин
                            Н.В. &nbsp;
                        </U>
                    </FONT><FONT SIZE=2>/</FONT>
                </P>
                <P LANG="ru-RU" STYLE="text-indent: 0in; margin-top: 0.08in"><FONT SIZE=2><I>М.П</I></FONT></P>
            </TD>
        </TR>
    </TABLE>
    <P LANG="ru-RU" CLASS="western" STYLE="text-indent: 0in; margin-top: 0.08in; line-height: 100%">
        <BR><BR>
    </P>
    <DIV TYPE=FOOTER>
        <P LANG="ru-RU" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%">
            <BR>
        </P>
    </DIV>

    <a href="/Home/Index">Панель менеджера</a>
</BODY>
</HTML>