<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ</TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="Lilia">
    <META NAME="CREATED" CONTENT="20180127;152700000000000">
    <META NAME="CHANGEDBY" CONTENT="Илья">
    <META NAME="CHANGED" CONTENT="20180127;152700000000000">
    <STYLE TYPE="text/css">
	<!--
		page { margin-right: 0.4in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ru-RU }
		P.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
		P.ctl { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ar-SA }
	-->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" BGCOLOR="#ffffff" DIR="LTR">
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER>
        <FONT SIZE=3 STYLE="font-size: 13pt"><BR></FONT><STRONG>
            <FONT SIZE=3 STYLE="font-size: 13pt">
                ДОГОВОР
                КУПЛИ-ПРОДАЖИ Товара № (@ViewBag.sellNumb)
            </FONT>
        </STRONG><FONT SIZE=3 STYLE="font-size: 13pt"><BR></FONT><STRONG>
            <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    (с
                    рассрочкой оплаты платежа)
                </FONT>
            </FONT>
        </STRONG>
    </P>
    <P LANG="ru-RU" CLASS="western">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            г.Барнаул

        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                @DateTime.Now.ToString("dd.MM.yyyy") г.
            </B>
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">.<BR></FONT><BR><BR>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                ИП
                Дорогин Н.В, ИНН 220807080002, ОГНРИП
                314220822500022
            </B>
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
            , с
            одной стороны, и @ViewBag.FIO, паспорт @ViewBag.passport_number
            , выдан @ViewBag.issuedBy @ViewBag.issuedDate , в дальнейшем “Покупатель”, с
            другой стороны, заключили настоящий
            договор о нижеследующем.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER>
        <STRONG>
            <FONT SIZE=3 STYLE="font-size: 13pt">
                1.
                Предмет договора
            </FONT>
        </STRONG>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=3 STYLE="font-size: 13pt">
            1.1.
            Продавец обязуется  передать в
            собственность Покупателю, а Покупатель
            обязуется принять к эксплуатации готовое
            изделие каркас теплицы, покрытый листами
            сотового поликарбоната (СПК), именуемое
            в дальнейшем Товар и уплатить за Товар
            определенную цену. Наименование и
            количество Товара, порядок, сроки
            поставки, монтажа и оплаты указаны в
            Приложении №1.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            1.2.Поставляемый
            товар должен быть новым и изготовленным
            не ранее года, предшествующего году
            поставки;
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            1.3.Продавец
            гарантирует, что поставляемый по
            настоящему договору Товар принадлежит
            ему на праве  собственности, не обременен
            залогом и свободен от прав третьих лиц.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            1.4.Датой
            поставки Товара является дата товарной
            квитанции.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER>
        <STRONG>
            <FONT SIZE=3 STYLE="font-size: 13pt">
                2.
                Обязательства сторон
            </FONT>
        </STRONG>
    </P>
    <P LANG="ru-RU" CLASS="western">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            2.1.
            Продавец обязуется:<BR>2.1.1. Передать
            Покупателю Товар, указанные в Приложении
            №1 к настоящему Договору.<BR>2.1.2. Передача
            товаров осуществляется
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                на
                месте монтажа, расположенного по адресу:
            </B>
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                Алтайский
                край, г.Барнаул, ул. Аносова 3
            </B>
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western">
        <STRONG>
            <FONT SIZE=3 STYLE="font-size: 13pt">
                <SPAN STYLE="font-weight: normal">
                    2.2.
                    Покупатель обязуется:
                </SPAN>
            </FONT>
        </STRONG><FONT SIZE=3 STYLE="font-size: 13pt">
            <BR>2.2.1.
            Оплатить стоимость товаров в порядке,
            сроки и сумме, указанные в п. 3 настоящего
            договора.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER>
        <STRONG>
            <FONT SIZE=3 STYLE="font-size: 13pt">
                3.
                Стоимость товара и порядок расчетов
            </FONT>
        </STRONG>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=3 STYLE="font-size: 13pt">
            3.1.
            Общая сумма настоящего Договора
            составляет
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                @ViewBag.sum рублей
            </B>
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
            
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                (@Sklad.Models.Число.Пропись(Convert.ToDecimal(Convert.ToInt32(ViewBag.sum)), Sklad.Models.РодЧисло.Мужской) рублей)
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=3 STYLE="font-size: 13pt">
            3.1.1.
            Цена за единицу Товара указана в
            Приложении №1 к настоящему Договору.
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            3.2.
            В стоимость товаров включена стоимость
            Товара, предпродажной подготовки,
            оформления необходимой документации.<BR>3.3.
            Оплата Товара осуществляется Покупателем
            в следующем порядке:
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; margin-left: 0.25in">
        <B>- @ViewBag.addedMoney рублей</B><FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
               (@Sklad.Models.Число.Пропись(Convert.ToDecimal(Convert.ToInt32(ViewBag.addedMoney)), Sklad.Models.РодЧисло.Мужской)
                рублей) в момент подписания договора.
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.25in; margin-bottom: 0in">
        <B>-  </B><FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                Оплата
                оставшихся @ViewBag.remain рублей
                (@Sklad.Models.Число.Пропись(Convert.ToDecimal(Convert.ToInt32(ViewBag.remain)), Sklad.Models.РодЧисло.Мужской) рублей)
                производится до @ViewBag.installmentLastDate.ToString("dd.MM.yyyy");
            </B>
        </FONT><FONT SIZE=3 STYLE="font-size: 13pt">
            .
            По следующему графику погашения:
        </FONT>
    </P>
    @for (var i = 0; i < ViewBag.installmentDate.Length; i++)
    {
        <P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.25in; margin-bottom: 0in">
            <B>
                - @ViewBag.installmentMoney[i] 
                (@Sklad.Models.Число.Пропись(Convert.ToDecimal(Convert.ToInt32(ViewBag.installmentMoney[i])), Sklad.Models.РодЧисло.Мужской) рублей)
                @ViewBag.installmentDate[i].ToString("dd.MM.yyyy")
            </B>
        </P>
    }
    <P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.25in; margin-bottom: 0in">
            
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-left: 0.25in; margin-bottom: 0in">
        <B></B><FONT SIZE=3 STYLE="font-size: 13pt">
            <BR>3.4.  Покупатель
            имеет право досрочно оплатить Продавцу
            всю сумму договора.<BR>
        </FONT><BR>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in; margin-bottom: 0in">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                4. Ответственность
                Сторон
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                4.1.
                Стороны несут ответственность за
                неисполнение или ненадлежащее исполнение
                настоящего Договора в соответствии с
                действующим законодательством и
                настоящим Договором.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                4.2.
                В случае не внесения Покупателем оплаты
                в срок, установленный в п.3.3. настоящего
                договора, Продавец вправе предъявить
                Покупателю неустойку в размере 0,1% за
                каждый день просрочки.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                5. Расторжение
                договора
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                5.1.
                Ни одна Сторона не вправе в одностороннем
                порядке отказаться от исполнения
                обязательств за исключением случаев
                предусмотренных настоящим Договором.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                5.2.
                Договор может быть расторгнут по
                письменному соглашению Сторон.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                6. Разрешение
                споров
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                6.1.
                Все споры и разногласия, которые могут
                возникнуть между Сторонами в ходе
                исполнения ими своих обязательств по
                Договору, разрешаются Сторонами путем
                переговоров.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                6.2.
                В случае не достижения согласия спор
                передается на рассмотрение  суда.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                7. Обстоятельства
                непреодолимой силы
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                7.1.
                При наступлении обстоятельств,
                препятствующих полному или частичному
                исполнению любой из Сторон обязательств
                по настоящему Договору, а именно: пожара,
                стихийных бедствий или других независящих
                от Сторон обстоятельств, в срок исполнения
                обязательств по настоящему Договору
                отодвигается соразмерно времени, в
                течение которого будут действовать
                такие обстоятельства.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                8. Заключительные
                положения
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                8.1.
                Во всем остальном, что не предусмотрено
                настоящим договором, Стороны руководствуются
                действующим законодательством Российской
                Федерации.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                8.2.
                Все изменения, приложения, дополнения,
                уведомления и сообщения по настоящему
                Договору являются неотъемлемой частью
                настоящего Договора и действительны
                лишь в том случае, если они совершены в
                письменной форме и подписаны уполномоченными
                представителями Сторон. Сообщения будут
                считаться направленными надлежащим
                образом, если они посланы заказным
                письмом или доставлены лично с получением
                под расписку.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                8.3.
                Настоящий договор составлен в двух
                экземплярах, имеющих равную юридическую
                силу, по одному для каждой из Сторон.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="TimesNewRomanPSMT, Times New Roman, serif">
            <FONT SIZE=3 STYLE="font-size: 13pt">
                8.4.
                В случае изменения любого из указанных
                в настоящем Договоре реквизитов
                соответствующая Сторона обязуются
                уведомить другую Сторону в течении 3-х
                дней.
            </FONT>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
        <FONT SIZE=3 STYLE="font-size: 13pt">
            <B>
                9. Адреса, реквизиты
                и подписи Сторон
            </B>
        </FONT>
    </P>
    <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <TABLE WIDTH=716 CELLPADDING=4 CELLSPACING=0>
        <COL WIDTH=350>
        <COL WIDTH=350>
        <TR VALIGN=TOP>
            <TD WIDTH=350 STYLE="border: none; padding: 0in">
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Продавец:</B></FONT></P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        <B>
                            ИП
                            Дорогин Н.В.
                        </B>
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        ИНН
                        220807080002
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        Юр.Адрес
                        г.Новоалтайк, ул. Локомотивная 7
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        Р/счет
                        40802810720310000008
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        К/счет
                        30101810550040000842
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        БИК
                        045004842
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        Филиал
                        ОАО «БинБанк» в г. Новосибирске
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western">
                    <FONT SIZE=3 STYLE="font-size: 13pt"><B>________________/</B></FONT><FONT SIZE=3 STYLE="font-size: 13pt">
                        <B>
                            Дорогин
                            Н.В
                        </B>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=350 STYLE="border: none; padding: 0in">
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Покупатель:</B></FONT></P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        @ViewBag.FIO
                    </FONT><FONT COLOR="#333333"><FONT FACE="Helvetica, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt"><SPAN STYLE="background: #ffffff">&nbsp;</SPAN></FONT></FONT></FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        Паспорт: @ViewBag.passport_number
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=3 STYLE="font-size: 13pt">Выдан: @ViewBag.issuedBy</FONT></P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        Дата
                        выдачи: @ViewBag.issuedDate
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT COLOR="#333333">
                        <SPAN STYLE="background: #ffffff">
                        </SPAN>
                    </FONT><FONT SIZE=3 STYLE="font-size: 13pt">Адрес регистрации: @ViewBag.adress</FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        Тел.
                        сот: @ViewBag.private_phone
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
                    <FONT SIZE=3 STYLE="font-size: 13pt">
                        Тел
                        дом: @ViewBag.home_phone
                    </FONT>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=3 STYLE="font-size: 13pt">_______________________</FONT></P>
                <P LANG="ru-RU" CLASS="western">
                    <BR>
                </P>
            </TD>
        </TR>
    </TABLE>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>

    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="/Home/Index" style="font-size: 32px;">Панель менеджера</a>
</BODY>
</HTML>