
@{
    ViewBag.Title = "ReceivingMonet";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="col-xs-6 col-xs-offset-3" style="">
    <div style="" class="panel panel-default col-xs-6">
        <div class="panel-body">Номер: @Model.Number</div>
        <div class="panel-body">Сумма со скидкой: @Model.SumWithD</div>
        <div class="panel-body">Долг: @Model.Remain</div>
    </div>
    <div style="" class="panel panel-default col-xs-6">
        <div class="panel-body">Название / Кол-во</div>
        @foreach (var gh in Model.GreenhouseForSales)
        {
            <div class="panel-body">@gh.Name / @gh.Amount</div>
        }
    </div>
</div>
<div class="clearfix"></div>

<form role="form" action="/Manager/ReceivingMonet" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="sum">Привезённая сумма</label>
        <input type="text" id="sum" name="sum" class="form-control" />
    </div>
    <div class="form-group">
        <label for="zp">Зарплата монтажника</label>
        <input type="text" id="zp" name="zp" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Далее</button>
</form>
